caption {
    border: 2px;
    background-color: black;
    border-color: 1px white solid ;
    color: white;
    font-size: large;
    font-family: cursive;
}

table {
    margin: 0 auto;
    width: 300px;
    height: 50px;
    border: 1px solid;
    letter-spacing: 2px;
}

tr:hover {
    background-color: rgb(250, 180, 50);
}

.main:hover {
    background-color: black;
    color: white;
}

.main:not(.night):hover {
    background-color: white;
    color: black;
}

button a {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    color: black;
}

.saturday th {
    background-color: black;
    color: white;   
}

.sunday th {
    background-color: black;
    color: white;  
}

.weekday th {
    background-color: black;
    color: white;  
}

.funct th {
    background-color: black;
    color: white;  
}

#btn-del {
    width: 298px;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #a675b3;
    text-align: center;
    line-height: 20px;
    display: block;
}

#btn-del:not(.active) {
    box-shadow: inset 0 1px 1px rgba(78, 41, 87, 0.8), inset 0 -1px 0px rgba(58, 55, 107, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#09080a, #0c0711);
    text-shadow: 0 0 21px rgba(223, 214, 226, 0.5), 0 -1px 0 #311d47;
}

#btn-del:not(.active):hover,
#btn-del:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(167, 155, 170, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}

#btn-del:not(:hover) {
    transition: 0.6s;
}

#btn-theme {
    width: 298px;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #a675b3;
    text-align: center;
    line-height: 20px;
    display: block;
}

#btn-theme:not(.active) {
    box-shadow: inset 0 1px 1px rgba(78, 41, 87, 0.8), inset 0 -1px 0px rgba(58, 55, 107, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#09080a, #0c0711);
    text-shadow: 0 0 21px rgba(223, 214, 226, 0.5), 0 -1px 0 #311d47;
}

#btn-theme:not(.active):hover,
#btn-theme:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(167, 155, 170, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}

#btn-theme:not(:hover) {
    transition: 0.6s;
}

#btn-phrase {
    width: 298px;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #a675b3;
    text-align: center;
    line-height: 20px;
    display: block;
}

#btn-phrase:not(.active) {
    box-shadow: inset 0 1px 1px rgba(78, 41, 87, 0.8), inset 0 -1px 0px rgba(58, 55, 107, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#09080a, #0c0711);
    text-shadow: 0 0 21px rgba(223, 214, 226, 0.5), 0 -1px 0 #311d47;
}

#btn-phrase:not(.active):hover,
#btn-phrase:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(167, 155, 170, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}

#btn-phrase:not(:hover) {
    transition: 0.6s;
}

.night {
    background: #000;
    color: #fff;
    filter: invert(5%);
    transition: 0.5s color, background; 
}

body {
    transition: 0.5s color, background; 
}