caption {
    border: 2px;
    background-color: black;
    color: white;
    font-size: large;
    font-family: cursive;
}

table {
    margin: 0 auto;
    width: 300px;
    height: 50px;
    border: 1px solid;
    letter-spacing: 2px;
}

tr:hover {
    background-color: orange;

}

.main:hover {
    background-color: white;
}

button a {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    color: black;
}

.saturday th {
    background-color: black;
    color: white;   
}

.sunday th {
    background-color: black;
    color: white;  
}

.weekday th {
    background-color: black;
    color: white;  
}

.funct th {
    background-color: black;
    color: white;  
}

#btn-del {
    width: 298px;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}