@media only screen and (max-width : 375px) {
    .slider img {
        height: 300px;
    }

    .foto-gall .second {
     margin-left: 0;
    }

    .pagination {
        margin-left: 0px;
    }

    .all-grade .school {
       margin-top: 50px;
        margin-left: 0px;
    }

    .all-grade .two {
        margin-left: 0px;
    }

    .all-grade .three {
        float: left;
    }

    .all-grade .teacher img {
        width: 300px;
        height: 300px;
    }

    .footer-right {
        margin-top: 10px;
    }

    .foto-gall .last {
        margin-left: 0px;
        float: left;
    }

}


@media only screen and (max-width : 420px) {

   html, body {
        max-width: 100%;  
        margin-right: 0px;  
    }

    .footer-right {
        margin-top: 10px;
    }

    .slider img {
        height: 300px;
    }

    .foto-gall .second {
     margin-left: 0;
    }

    .pagination {
        margin-left: 0px;
    }

    .all-grade .school {
       margin-top: 50px;
        margin-left: 0px;
    }

    .all-grade .two {
        margin-left: 0px;
    }

    .all-grade .three {
        float: left;
    }

    .all-grade .teacher img {
        width: 300px;
        height: 300px;
    }

    .foto-gall .last {
        margin-left: 0px;
        float: left;
    }

}

@media only screen and (max-width : 800px) {

    html, body {
         max-width: 100%;  
         margin-right: 0px;  
     }
 
     .footer-right {
         margin-top: 10px;
     }
 
     .slider img {
         height: 310px;
     }
 
     .foto-gall .second {
      margin-left: 0;
     }

     .foto-gall .last {
         margin-left: 0px;
         float: left;
     }
 
     .pagination {
         margin-left: 0px;
     }
 
     .all-grade .school {
        margin-top: 50px;
         margin-left: 0px;
     }
 
     .all-grade .two {
         margin-left: 0px;
     }
 
     .all-grade .three {
         float: left;
         
     }
 
     .all-grade .teacher img {
         width: 300px;
         height: 300px;
     }
 
 }