body {
    margin: 0;
    background-color: rgb(69, 29, 87);
    font-family: sans-serif;
}

.quiz-container {
    max-width: 88%;
    min-height: 88%;
    background-color: #fff;
    margin: 60px auto;
    border-radius: 10px;
    padding: 25px;
}

.question-number h3 {
    color: rgb(80, 25, 104);
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom: 10px;
}

#question {
    font-size: 24px;
    color: #000;
    padding: 15px 0;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 15px;
}

.options div {
    background-color: #ccc;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.options div:hover {
    background-color: #ccccccaf;
}


.quiz-over-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    
}

.quiz-over-modal.active {
    display: block;
}

.content {
    background-color: rgb(80, 25, 104);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 40%;
    color: #fff;
    border-radius: 10px;
}

.content h1, p {
    text-align: center;
}

.content p {
 font-size: 20px;
}

.content h1 {
    font-size: 40px;
}

#btn-try-again {
    background-color: rgb(245, 207, 39);
    width: 120px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 2px darkgoldenrod; 
    color: #fff;
    font-size: 16px;
}

#btn-try-again:hover {
    background-color: rgba(255, 166, 0, 0.993);
    box-shadow: 2px darkgoldenrod; 
    color: #fff;
}

#btn-main-menu {
    background-color: rgb(245, 207, 39);
    float: right;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    cursor: context-menu;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    box-shadow: 2px darkgoldenrod; 
}

#btn-main-menu:hover {
    background-color: rgba(255, 166, 0, 0.993);
    color: rgba(255, 255, 255, 0.959);
}

.options div.correct {
    color: #ffffff;
    background-color: rgb(0, 255, 0);
}

.options div.wrong {
    color: #ffffff;
    background-color: rgba(245, 1, 1, 0.884);
}

.options div.disabled {
    pointer-events: none;
}

.button #btn-next {
    padding: 10px 50px;
    background-color: rgb(101, 42, 126);
    font-size: 18px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    margin-left: 3px;
    outline: none;
}

.button #btn-next:hover {
    background-color: rgb(141, 62, 164);
    cursor: pointer;
}

#answers-tracker div {
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
}

#answers-tracker {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

* {
    box-sizing: border-box;
}

.attention-over-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.attention-over-modal.actived {
    display: block;
}

.attention-over-modal .content {
    border-radius: 10px;
}

.attention-over-modal .content h1 {
    color: rgb(255, 201, 38);
}

.content #btn-close {
    background-color: rgb(245, 207, 39);
    color: #fff;
    font-size: 16px;
    width: 150px;
    height: 32px;
    margin-left: 35%;
    border-radius: 10%;
}

.content #btn-close:hover {
    background-color: rgb(216, 178, 10);
}

.content .atten {
    font-size: 18px;
    color: rgb(255, 196, 0);
}

.content #attention {
    font-size: 15px;
    color: rgb(255, 255, 255);
}
